<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095539060802-sge8eno4mnsl0m9st4kgpqtonq0ci9q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095539060802-sge8eno4mnsl0m9st4kgpqtonq0ci9q6</string>
	<key>API_KEY</key>
	<string>AIzaSyDaYcAuJrIcjEWI_SWQAQfrOzRgiihdmp0</string>
	<key>GCM_SENDER_ID</key>
	<string>1095539060802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Anthony.RecipeMealPlanApp</string>
	<key>PROJECT_ID</key>
	<string>recipemealplanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>recipemealplanapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095539060802:ios:22fab436e844060b6f3ddb</string>
	<key>DATABASE_URL</key>
	<string>https://recipemealplanapp.firebaseio.com</string>
</dict>
</plist>